<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearNote"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.RecoveryActivity"
            android:exported="false"
            android:label="@string/title_activity_recovery"
            android:theme="@style/Theme.WearNote" />
        <activity
            android:name=".ui.activity.RenameActivity"
            android:exported="false"
            android:label="@string/title_activity_rename"
            android:theme="@style/Theme.WearNote">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.FullActivity"
            android:exported="false"
            android:label="@string/title_activity_full"
            android:theme="@style/Theme.WearNote">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddActivity"
            android:exported="false"
            android:label="@string/title_activity_add"
            android:theme="@style/Theme.WearNote">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.EditActivity"
            android:exported="false"
            android:label="@string/title_activity_edit"
            android:theme="@style/Theme.WearNote">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WearNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>